/* MENU HORIZONTAL */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 14px 0;
  background: white;
  border-bottom: 1px solid #eaeaea;
}

nav a {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  transition: .2s;
}

nav a:hover {
  background: #ececff;
  color: #3b3bff;
}

/* HERO ACCUEIL */
.hero {
  text-align: center;
  padding: 50px 20px;
  background: #f7f7ff;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.accueil-section {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  color: #777;
}
